.category-page {
    transition: margin-left 0.3s, margin-right 0.3s;
    margin-left: 280px;
    margin-right: 100px;
}

.collapsed .category-page {
    margin-left: 100px;
    margin-right: 100px; /* Adjust right margin to match the collapsed navbar width */
}

.category-page h2, .category-page h3 {
    color: #fff;
}

.category-page .category-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.category-card {
    background-color: #F5F5F5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; 
    margin-top: 20px;
    text-decoration: none;
    color: #333333;
}

.category-card:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
    transform: translateY(-5px);
}

.category-color-box {
    position: relative;
    height: 100px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: url('../assets/categories.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-color-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.category-color-box svg {
    color: #fff;
    position: relative;
    z-index: 1;
}

.category-details h3 {
    text-align: center;
    color: #333333;
}

.category-details p {
    text-align: center;
}


/* Responsive styles */
@media (max-width: 1200px) {
    .category-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .category-page {
        margin-left: 80px;
        margin-right: 5px; /* Adjust right margin */
    }

    .collapsed .category-page {
        margin-left: 80px;
        margin-right: 0px; /* Adjust right margin */
    }
}

@media (max-width: 992px) {
    .category-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .category-page {
        margin-left: 80px;
        margin-right: 5px; /* Adjust right margin */
    }

    .collapsed .category-page {
        margin-left: 80px;
        margin-right: 0px; /* Adjust right margin */
    }
}

@media (max-width: 768px) {
    .category-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .category-page {
        margin-left: 80px;
        margin-right: 5px; /* Adjust right margin */
    }

    .collapsed .category-page {
        margin-left: 80px;
        margin-right: 0px; /* Adjust right margin */
    }
}

@media (max-width: 576px) {
    .category-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .category-page {
        margin-left: 80px;
        margin-right: 5px; /* Adjust right margin */
    }

    .collapsed .category-page {
        margin-left: 80px;
        margin-right: 0px; /* Adjust right margin */
    }
}
