.savings-content {
  transition: margin-left 0.3s;
  margin-left: 280px;
  margin-right: 20px;
  color: #FFFFFF;
  font-family: 'PPTelegraf-Regular', sans-serif;
}

.collapsed .savings-content {
  margin-left: 100px;
  margin-right: 30px;
}

.red-text {
  color: red;
}

.card-display .card h3 {
  margin: 0;
  color: #333;
  font-size: 2em;
}

#total-budget-heading {
  font-size: 20px;
  text-align: center;
  margin: 0;
  color: #000000;
}

.savings-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.savings-table th,
.savings-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  color: #ffffff;
}

.savings-table th {
  background-color: #a1ce86;
}

.savings-table td button {
  background-color: transparent;
  border: none;
  color: #7db876;
  cursor: pointer;
  margin-right: 5px;
}

.savings-table td button:hover {
  text-decoration: underline;
}

#savingsbutton {
  font-family: "PPTelegraf-Regular", sans-serif;
  align-items: center;
  padding: 15px 15px;
  font-size: 20px;
  margin: 10px;
  background-color: #ffffff;
  color: #2e2e2e;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  transform: translateY(-2px);
  transition: background-color 0.3s, transform 0.2s;
  min-width: 265px;
}

#savingsbutton:hover {
  background-color: #c0ff9e;
}

#savings-input {
  padding: 15px;
  border: 2px solid #c2ffbd;
  background-color: #2e2e2e;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  transition: border 0.3s, box-shadow 0.3s;
  font-family: "PPTelegraf-Regular", sans-serif;
  min-width: 265px;
  margin: 10px;
}

#savings-input {
  border-color: #6699cc;
  outline: none;
  box-shadow: 0 0 0 2px rgba(102, 153, 204, 0.5);
}

label {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  margin-left: 10px;
  font-family: "Arial", sans-serif;
  color: #7db876;
}

#savingstablebutton {
  font-family: "PPTelegraf-Regular", sans-serif;
  align-items: center;
  padding: 10px 10px;
  font-size: 20px;
  margin: 10px;
  background-color: #ffffff;
  color: #2e2e2e;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  cursor: pointer;
  transform: translateY(-2px);
  transition: background-color 0.3s, transform 0.2s;
}

#savingstablebutton:hover {
  background-color: #c0ff9e;
}

@media only screen and (max-width: 768px) {
  .savings-content {
      margin-left: 20px;
      margin-right: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .savings-content {
      margin-left: 10px;
      margin-right: 10px;
  }

  #total-budget-heading {
      font-size: 16px;
  }
}

@media only screen and (max-width: 320px) {
  #total-budget-heading {
      font-size: 14px;
  }

  label {
      font-size: 1.2em;
  }

  #savings-input {
      padding: 15px;
      font-size: 16px;
  }

  .savings-table td button {
      padding: 8px;
      font-size: 16px;
  }
}
